<!doctype html>
<head>
    <title>hvat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
	       <h1>hacky video annotation tool</h1>
        </div>

        <h3>select a video to analyse</h3>
        <select class="form-control" id="vidname">
        <option>--</option>
        {% for di in directories %}<option>{{ di }}</option>{% endfor %}
        </select>

        <h3>select frame</h3>
        <select class="form-control" id="framenum">
        </select>

        <h3>annotate frame</h3>
        <img id="image"/>
        <div id="canvas"></div>





    </div>
    <!-- javascript loaded at end -->
    <script src="http://code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script>
//var canvas = $('#canvas')[0];
//var context = canvas.getContext("2d");

var points = [];

$(document).ready(function() {
    var nframes = [{% for fi in nfiles%}{{fi}}{% if not forloop.last %},{% endif %}{% endfor %}];
    var paper = new Raphael('canvas');

    $('#vidname').change(function() {
        var name = $(this).val();
        if (name!="--") {
            var ind = $('#vidname option:selected').index()-1;
            $('#framenum').html('');
            for (var i=0; i<nframes[ind]; ++i) {
                var fname = (1e4+(i+1)+'').substr(1)+'.jpg';
                $('#framenum').append('<option>'+fname+'</option>');
            }

            var fname = $('#framenum option:selected').val();
            updateImage(paper, fname);
        }
    });
    $('#framenum').change(function() {
        var fname = $(this).val();
        updateImage(paper, fname);
    });
    $('#canvas').click(function(e) {
        var rect = canvas.getBoundingClientRect();
        var cx = e.clientX - rect.left;
        var cy = e.clientY - rect.top;
        var circ = paper.circle(cx, cy, 50)
            .attr({fill: 'red', stroke: 'black'})
            .click(function () {
                console.log('clickked');
                console.log(this);
                this.node.remove();
            });
    });
});

function updateImage(paper, fname)
{
    paper.clear();
    var vidname = $('#vidname option:selected').val();
    var image = new Image();
    image.src = '{{STATIC_URL}}data/'+vidname+'/'+fname;
    image.onload = function() {
        paper.setSize(image.width, image.height);
        paper.image(image.src, 0,0, image.width, image.height);
    }
}
    </script>
</body>