<!doctype html>
<head>
    <title>hvat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
	       <h1>hacky video annotation tool</h1>
        </div>

        <h3>select a video to analyse</h3>
        <select class="form-control">
        <option>--</option>
        {% for di in directories %}<option>{{ di }}</option>{% endfor %}
        </select>

        <h3>select frame</h3>
        <select class="form-control">
        <option>--</option>
        {% for fi in nfiles %}<option>{{ fi }}</option>{% endfor %}
        </select>



    </div>
</body>